*.swp
*.swo
.idea
shop/.idea
shop/log/
!shop/log/index.html

!index.html

download/
shop/image/cache/
!shop/image/cache/index.html
shop/system/cache/
!shop/system/cache/index.html
shop/system/logs/
!shop/system/logs/index.html

